In [5]:
import pandas as pd
from geopy import distance
from geopy import Point

In [6]:
df_seller = pd.read_csv(r"C:\Users\GADA\Documents\Python\GADA Logistic Analytics\gada_store.csv")
df_buyer = pd.read_csv(r"C:\Users\GADA\Documents\Python\GADA Logistic Analytics\hanging_fruit_marketplace_2.csv")
df_seller['point'] = df_seller.apply(lambda row: Point(latitude=row['store_latitude'], longitude=row['store_longitude']), axis=1)
df_buyer['point'] = df_buyer.apply(lambda row: Point(latitude=row['buyer_lat'], longitude=row['buyer_long']), axis=1)
df_buyer.head()

,buyer_code,city,province,buyer_lat,buyer_long,is_using_gada,percentile,gmv_percentile,gmv_per_buyer,point
0,GADA-lf229w,KABUPATEN GROBOGAN,JAWA TENGAH,-7.073822,110.778894,False,0.9,799000,422970300,"7 4m 25.7592s S, 110 46m 44.0184s E"
1,GADA-ly9kru,KABUPATEN DEMAK,JAWA TENGAH,-7.044446,110.576108,False,0.9,799000,352933000,"7 2m 40.0056s S, 110 34m 33.9888s E"
2,GADA-lc45c6,KABUPATEN PATI,JAWA TENGAH,-6.752347,111.041711,False,0.9,799000,304541000,"6 45m 8.4492s S, 111 2m 30.1596s E"
3,GADA-lk2e5g,KABUPATEN TANGERANG,BANTEN,-6.198399,106.530670,False,0.9,9995000,215008500,"6 11m 54.2364s S, 106 31m 50.412s E"
4,GADA-x3yuqx,KOTA TANGERANG SELATAN,BANTEN,-6.279173,106.671129,False,0.9,9995000,213197800,"6 16m 45.0228s S, 106 40m 16.0644s E"

In [7]:
df_buyer.head()

,buyer_code,city,province,buyer_lat,buyer_long,is_using_gada,percentile,gmv_percentile,gmv_per_buyer,point
0,GADA-lf229w,KABUPATEN GROBOGAN,JAWA TENGAH,-7.073822,110.778894,False,0.9,799000,422970300,"7 4m 25.7592s S, 110 46m 44.0184s E"
1,GADA-ly9kru,KABUPATEN DEMAK,JAWA TENGAH,-7.044446,110.576108,False,0.9,799000,352933000,"7 2m 40.0056s S, 110 34m 33.9888s E"
2,GADA-lc45c6,KABUPATEN PATI,JAWA TENGAH,-6.752347,111.041711,False,0.9,799000,304541000,"6 45m 8.4492s S, 111 2m 30.1596s E"
3,GADA-lk2e5g,KABUPATEN TANGERANG,BANTEN,-6.198399,106.530670,False,0.9,9995000,215008500,"6 11m 54.2364s S, 106 31m 50.412s E"
4,GADA-x3yuqx,KOTA TANGERANG SELATAN,BANTEN,-6.279173,106.671129,False,0.9,9995000,213197800,"6 16m 45.0228s S, 106 40m 16.0644s E"

In [8]:
df_buyer_point = df_buyer[['point', 'buyer_code']]
df_seller_point = df_seller[['point', 'store_code']]
df_join_point = pd.DataFrame(columns = ['seller_code','buyer_code','seller_point','buyer_point','distance'])
df_buyer_point.head()

                                  point   buyer_code
0   7 4m 25.7592s S, 110 46m 44.0184s E  GADA-lf229w
1   7 2m 40.0056s S, 110 34m 33.9888s E  GADA-ly9kru
2    6 45m 8.4492s S, 111 2m 30.1596s E  GADA-lc45c6
3   6 11m 54.2364s S, 106 31m 50.412s E  GADA-lk2e5g
4  6 16m 45.0228s S, 106 40m 16.0644s E  GADA-x3yuqx

In [9]:
# for index, buyer in df_buyer_point.iterrows():
#     print('1')
#     print(buyer.point)
    
for index, buyer in df_buyer_point.iterrows():
    for index, seller in df_seller_point.iterrows():
        dist = distance.distance(buyer.point,seller.point).km
        if dist < 15 :
            new_row = {'buyer_point':buyer.point, 
                       'seller_point': seller.point, 
                       'distance': dist,
                       'seller_code' : seller.store_code,
                       'buyer_code' : buyer.buyer_code }
            df_join_point = df_join_point.append(new_row, ignore_index=True)

In [10]:
# for buyer in df_buyer_point: 
#     for seller in df_seller_point :
#         dist = distance.distance(buyer,seller).km
#         if dist < 15 :
#             new_row = {'point_buyer':buyer, 'point_seller': seller , 'distance': dist}
#             df_join_point = df_join_point.append(new_row, ignore_index=True)

In [11]:
df_join_point.head()

,seller_code,buyer_code,seller_point,buyer_point,distance
0,GADA-2p5z3b,GADA-lc45c6,"6 43m 32.646s S, 111 9m 47.7792s E","6 45m 8.4492s S, 111 2m 30.1596s E",13.757700
1,GADA-aspo,GADA-lk2e5g,"6 15m 43.6752s S, 106 25m 59.6172s E","6 11m 54.2364s S, 106 31m 50.412s E",12.882647
2,GADA-n9AX,GADA-lk2e5g,"6 15m 59.2488s S, 106 28m 5.4192s E","6 11m 54.2364s S, 106 31m 50.412s E",10.221754
3,GADA-gRwb,GADA-lk2e5g,"6 9m 7.5924s S, 106 35m 28.1328s E","6 11m 54.2364s S, 106 31m 50.412s E",8.426678
4,GADA-l7vk7g,GADA-lk2e5g,"6 11m 12.2424s S, 106 31m 58.908s E","6 11m 54.2364s S, 106 31m 50.412s E",1.316176

In [12]:
df_result = pd.merge(left=df_join_point, right=df_seller, how='left', left_on='seller_code', right_on='store_code')
df_result = pd.merge(left=df_join_point, right=df_buyer, how='left', left_on='buyer_code', right_on='buyer_code')
del df_result['seller_point']
del df_result['buyer_point']
del df_result['point']
del df_result['buyer_lat']
del df_result['buyer_long']
df_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40605 entries, 0 to 40604
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   seller_code     40605 non-null  object
 1   buyer_code      40605 non-null  object
 2   distance        40605 non-null  float64
 3   city            40605 non-null  object
 4   province        40605 non-null  object
 5   is_using_gada   40605 non-null  bool
 6   percentile      40605 non-null  float64
 7   gmv_percentile  40605 non-null  int64
 8   gmv_per_buyer   40605 non-null  int64
dtypes: bool(1), float64(2), int64(2), object(4)
memory usage: 2.8+ MB

In [13]:
print(df_result.to_excel(r'C:\Users\GADA\Documents\Python\GADA Logistic Analytics\hanging_fruit_result_marketplace_2.xlsx', index = False))

None