In [1]:
import pandas as pd
from geopy import distance
from geopy import Point

In [2]:
df_seller = pd.read_csv(r"C:\Users\GADA\Documents\Python\GADA Logistic Analytics\gada_store.csv")
df_buyer = pd.read_csv(r"C:\Users\GADA\Documents\Python\GADA Logistic Analytics\hanging_fruit.csv")
df_seller['point'] = df_seller.apply(lambda row: Point(latitude=row['store_latitude'], longitude=row['store_longitude']), axis=1)
df_buyer['point'] = df_buyer.apply(lambda row: Point(latitude=row['lat'], longitude=row['lng']), axis=1)
df_seller.head()

,store_code,store_name,city_name,store_latitude,store_longitude,point
0,GADA-s4Xz,E219110252-Toko NN (Gudang),KABUPATEN SUMENEP,-7.003131,113.863184,"7 0m 11.2716s S, 113 51m 47.4624s E"
1,GADA-zfG0,V619050058-Toko Stand 8 (Gudang),KOTA MAKASSAR,-5.150710,119.424183,"5 9m 2.556s S, 119 25m 27.0588s E"
2,GADA-ufmj,EV1901366-Toko Purnomo (Gudang),KABUPATEN BOJONEGORO,-7.144938,111.890257,"7 8m 41.7768s S, 111 53m 24.9252s E"
3,GADA-mr4i,CK19030144-Toko Arsy (Gudang),KABUPATEN SUMEDANG,-6.798350,107.944093,"6 47m 54.06s S, 107 56m 38.7348s E"
4,GADA-zPnf,50735 Toko NusaIndah (Gudang),KABUPATEN TEGAL,-6.868548,109.179085,"6 52m 6.7728s S, 109 10m 44.706s E"

In [3]:
df_buyer.head()

,buyer_code,city,province_region,regional_seller,lat,lng,is_using_gada,percentile,gmv_percentile,gmv_per_buyer,point
0,GADA-9cf1wj,KABUPATEN BANDUNG,JAWA BARAT,West,-6.988980,107.557138,False,0.9,6210000,6538500,"6 59m 20.328s S, 107 33m 25.6968s E"
1,GADA-5q7zpx,KABUPATEN LOMBOK TENGAH,BALI NUSRA,East,-8.643073,116.345607,False,0.9,3539000,4290300,"8 38m 35.0628s S, 116 20m 44.1852s E"
2,GADA-opy7y2,KABUPATEN BANDUNG,JAWA BARAT,West,-6.998360,107.587955,False,0.9,6210000,9155250,"6 59m 54.096s S, 107 35m 16.638s E"
3,GADA-w728ft,KABUPATEN MUARO JAMBI,SUMATERA,West,-1.641331,103.529179,False,0.9,4146500,4904000,"1 38m 28.7916s S, 103 31m 45.0444s E"
4,GADA-ljo4rt,KOTA BANJARMASIN,KALIMANTAN,East,-3.297607,114.595327,False,0.9,3393000,3644000,"3 17m 51.3852s S, 114 35m 43.1772s E"

In [4]:
df_buyer_point = df_buyer[['point', 'buyer_code']]
df_seller_point = df_seller[['point', 'store_code']]
df_join_point = pd.DataFrame(columns = ['seller_code','buyer_code','seller_point','buyer_point','distance'])
df_buyer_point.head()

                                  point   buyer_code
0   6 59m 20.328s S, 107 33m 25.6968s E  GADA-9cf1wj
1  8 38m 35.0628s S, 116 20m 44.1852s E  GADA-5q7zpx
2    6 59m 54.096s S, 107 35m 16.638s E  GADA-opy7y2
3  1 38m 28.7916s S, 103 31m 45.0444s E  GADA-w728ft
4  3 17m 51.3852s S, 114 35m 43.1772s E  GADA-ljo4rt

In [5]:
# for index, buyer in df_buyer_point.iterrows():
#     print('1')
#     print(buyer.point)
    
for index, buyer in df_buyer_point.iterrows():
    for index, seller in df_seller_point.iterrows():
        dist = distance.distance(buyer.point,seller.point).km
        if dist < 15 :
            new_row = {'buyer_point':buyer.point, 
                       'seller_point': seller.point, 
                       'distance': dist,
                       'seller_code' : seller.store_code,
                       'buyer_code' : buyer.buyer_code }
            df_join_point = df_join_point.append(new_row, ignore_index=True)

In [6]:
# for buyer in df_buyer_point: 
#     for seller in df_seller_point :
#         dist = distance.distance(buyer,seller).km
#         if dist < 15 :
#             new_row = {'point_buyer':buyer, 'point_seller': seller , 'distance': dist}
#             df_join_point = df_join_point.append(new_row, ignore_index=True)

In [7]:
df_join_point.head()

,seller_code,buyer_code,seller_point,buyer_point,distance
0,GADA-le5zqv,GADA-9cf1wj,"7 1m 4.764s S, 107 32m 52.7712s E","6 59m 20.328s S, 107 33m 25.6968s E",3.363640
1,GADA-aywo2t,GADA-9cf1wj,"6 57m 2.7s S, 107 32m 9.042s E","6 59m 20.328s S, 107 33m 25.6968s E",4.838515
2,GADA-xoo4bv,GADA-9cf1wj,"6 55m 53.2992s S, 107 35m 24.396s E","6 59m 20.328s S, 107 33m 25.6968s E",7.329605
3,GADA-tKnP,GADA-9cf1wj,"6 59m 36.9168s S, 107 31m 54.768s E","6 59m 20.328s S, 107 33m 25.6968s E",2.837083
4,GADA-l1fw21,GADA-9cf1wj,"7 1m 11.2692s S, 107 35m 46.1112s E","6 59m 20.328s S, 107 33m 25.6968s E",5.494418

In [14]:
df_result = pd.merge(left=df_join_point, right=df_seller, how='left', left_on='seller_code', right_on='store_code')
df_result = pd.merge(left=df_join_point, right=df_buyer, how='left', left_on='buyer_code', right_on='buyer_code')
del df_result['lat']
del df_result['lng']
del df_result['point']
df_result.head()

,seller_code,buyer_code,seller_point,buyer_point,distance,city,province_region,regional_seller,is_using_gada,percentile,gmv_percentile,gmv_per_buyer
0,GADA-le5zqv,GADA-9cf1wj,"7 1m 4.764s S, 107 32m 52.7712s E","6 59m 20.328s S, 107 33m 25.6968s E",3.363640,KABUPATEN BANDUNG,JAWA BARAT,West,False,0.9,6210000,6538500
1,GADA-aywo2t,GADA-9cf1wj,"6 57m 2.7s S, 107 32m 9.042s E","6 59m 20.328s S, 107 33m 25.6968s E",4.838515,KABUPATEN BANDUNG,JAWA BARAT,West,False,0.9,6210000,6538500
2,GADA-xoo4bv,GADA-9cf1wj,"6 55m 53.2992s S, 107 35m 24.396s E","6 59m 20.328s S, 107 33m 25.6968s E",7.329605,KABUPATEN BANDUNG,JAWA BARAT,West,False,0.9,6210000,6538500
3,GADA-tKnP,GADA-9cf1wj,"6 59m 36.9168s S, 107 31m 54.768s E","6 59m 20.328s S, 107 33m 25.6968s E",2.837083,KABUPATEN BANDUNG,JAWA BARAT,West,False,0.9,6210000,6538500
4,GADA-l1fw21,GADA-9cf1wj,"7 1m 11.2692s S, 107 35m 46.1112s E","6 59m 20.328s S, 107 33m 25.6968s E",5.494418,KABUPATEN BANDUNG,JAWA BARAT,West,False,0.9,6210000,6538500

In [19]:
print(df_result.to_excel(r'C:\Users\GADA\Documents\Python\GADA Logistic Analytics\hanging_fruit_result.xlsx', index = False))

None